<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nice to meet you!</h2>
                <hr class="light">
                <p class="text-faded">I live in beautiful Boulder, Colorado, where I currently working at the City of Boulder doing analytics on Human Resources data and systems. I have a background in Public Policy, and I love seeing people connect to their community through data. I've worked in consulting, as well as the private sector, and I have experience with data visualization, ETL/ELT, integration, and engineering, and have worked with many tools in these spaces. I'm originally from the Atlanta suburbs, and have spent time living in Raleigh, NC, Peoria, IL, Perth, Western Austrailia, and New Orleans, LA. I'm happiest outside and am very much enjoying settling into the Rocky Mountains and all the sports that come with them. I'm a big fan of bonfires, potlucks, and road trips, and would love to meet up over a coffee or beer (maybe after we hit the trail!).</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
