<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                 <h2 class="section-heading">Thing I Like</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <hr class="light">
                <p class="text-faded">
            <ul>
    <li class="list"><a class="things" href="https://onbeing.org/becoming-wise-the-book/">Becoming Wise</a></li>
 <li class="list"><a class="things" href="https://thegrit.com/">The Grit</a></li>
  <li class="list"><a class="things" href="https://www.themulliganbrothers.com/">The Mulligan Brothers</a></li>
  <li class="list"><a class="things" href="http://picabar.com.au/">Picabar</a></li>
 <li class="list"><a class="things" href=" https://darntough.com">Darn Tough Socks</a></li>
 <li class="list"><a class="things" href="https://gofarshop.com/">Go Far Shop</a></li>
 <li class="list"><a class="things" href="https://www.bouldercounty.org/open-space/parks-and-trails/boulder-canyon-trail/">Boulder Canyon Trail</a></li>
 <li class="list"><a class="things" href=" http://yousneakypickle.com/">The Sneaky Pickle</a></li>
  <li class="list"><a class="things" href="https://www.goodreads.com/book/show/28443415-the-do-it-yourself-guide-to-fighting-the-big-motherfuckin-sad">The Do-It-Yourself Guide to Fighting the Big Motherfuckin' Sad</a></li>
  <li class="list"><a class="things" href=" http://www.massolit.com/">Massolit Books</a></li>
    <li class="list"><a class="things" href="http://bivouac.com.au/">Bivouac Canteen & Bar</a></li>
   <li class="list"><a class="things" href="https://semi-rad.com/">Semi-Rad</a></li>
     <li class="list"><a class="things" href="https://www.annfriedman.com/weekly">Ann Friedman's Newsletter</a></li>
    
    </ul>

        </p>
    </div>
</section>


               
               
